@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Account</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">@Localizer["Log out"]</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">@Localizer["Register"]</a>
        <a href="Identity/Account/Login">@Localizer["Log in"]</a>
    </NotAuthorized>
</AuthorizeView>
