@model IndexModel

<div class="loading-frame">
    <link href="~/css/loading-wheel.css" rel="stylesheet" />
    <img class="loading-wheel" src="~/images/Loading_blueNoHalo_16x.svg" />
    <h5 class="loading-header">
        Loading resources
    </h5>
</div>