<link rel="stylesheet" href="~/css/osk.css" asp-append-version="true" />
<div id="osk" class="osk-wrapper">
    <div class="osk-row right-aligned">
        <button id="closeOSKButton">X</button>
    </div>
    <div class="osk-row">
        <div class="osk-key" alt-key="~">`</div>
        <div class="osk-key" alt-key="!">1</div>
        <div class="osk-key" alt-key="@@">2</div>
        <div class="osk-key" alt-key="#">3</div>
        <div class="osk-key" alt-key="$">4</div>
        <div class="osk-key" alt-key="%">5</div>
        <div class="osk-key" alt-key="^">6</div>
        <div class="osk-key" alt-key="&amp;">7</div>
        <div class="osk-key" alt-key="*">8</div>
        <div class="osk-key" alt-key="(">9</div>
        <div class="osk-key" alt-key=")">0</div>
        <div class="osk-key" alt-key="_">-</div>
        <div class="osk-key" alt-key="+">=</div>
    </div>
    <div class="osk-row">
        <div class="osk-key" alt-key="Q">q</div>
        <div class="osk-key" alt-key="W">w</div>
        <div class="osk-key" alt-key="E">e</div>
        <div class="osk-key" alt-key="R">r</div>
        <div class="osk-key" alt-key="T">t</div>
        <div class="osk-key" alt-key="Y">y</div>
        <div class="osk-key" alt-key="U">u</div>
        <div class="osk-key" alt-key="I">i</div>
        <div class="osk-key" alt-key="O">o</div>
        <div class="osk-key" alt-key="P">p</div>
        <div class="osk-key" alt-key="{">[</div>
        <div class="osk-key" alt-key="}">]</div>
        <div class="osk-key" alt-key="|">\</div>
    </div>
    <div class="osk-row">
        <div class="osk-key" alt-key="A">a</div>
        <div class="osk-key" alt-key="S">s</div>
        <div class="osk-key" alt-key="D">d</div>
        <div class="osk-key" alt-key="F">f</div>
        <div class="osk-key" alt-key="G">g</div>
        <div class="osk-key" alt-key="H">h</div>
        <div class="osk-key" alt-key="J">j</div>
        <div class="osk-key" alt-key="K">k</div>
        <div class="osk-key" alt-key="L">l</div>
        <div class="osk-key" alt-key=":">;</div>
        <div class="osk-key" alt-key="&quot;">'</div>
        <div class="osk-key wide-key-sm">Enter</div>
    </div>
    <div class="osk-row">
        <div id="shiftKey" class="osk-key wide-key-sm">Shift</div>
        <div class="osk-key" alt-key="Z">z</div>
        <div class="osk-key" alt-key="X">x</div>
        <div class="osk-key" alt-key="C">c</div>
        <div class="osk-key" alt-key="V">v</div>
        <div class="osk-key" alt-key="B">b</div>
        <div class="osk-key" alt-key="N">n</div>
        <div class="osk-key" alt-key="M">m</div>
        <div class="osk-key" alt-key="<">,</div>
        <div class="osk-key" alt-key=">">.</div>
        <div class="osk-key" alt-key="?">/</div>
    </div>
    <div class="osk-row">
        <div id="ctrlKey" class="osk-key">Ctrl</div>
        <div id="altKey" class="osk-key">Alt</div>
        <div class="osk-key wide-key-lg">Space</div>
        <div class="osk-key">Left</div>
        <div class="osk-key">Up</div>
        <div class="osk-key">Down</div>
        <div class="osk-key">Right</div>
        <div class="osk-key">Backspace</div>
    </div>
</div>
<script src="~/scripts/RemoteControl/OSK.js" type="module"></script>