<link rel="stylesheet" href="~/css/osk.css" asp-append-version="true" />
<div id="osk" class="osk-wrapper">
    <div class="osk-row right-aligned">
        <button id="closeOSKButton">X</button>
    </div>
    <div class="osk-row">
        <div class="osk-key" alt-key="~" keycode="192">`</div>
        <div class="osk-key" alt-key="!" keycode="49">1</div>
        <div class="osk-key" alt-key="@@" keycode="50">2</div>
        <div class="osk-key" alt-key="#" keycode="51">3</div>
        <div class="osk-key" alt-key="$" keycode="52">4</div>
        <div class="osk-key" alt-key="%" keycode="53">5</div>
        <div class="osk-key" alt-key="^" keycode="54">6</div>
        <div class="osk-key" alt-key="&amp;" keycode="55">7</div>
        <div class="osk-key" alt-key="*" keycode="56">8</div>
        <div class="osk-key" alt-key="(" keycode="57">9</div>
        <div class="osk-key" alt-key=")" keycode="48">0</div>
        <div class="osk-key" alt-key="_" keycode="173">-</div>
        <div class="osk-key" alt-key="+" keycode="61">=</div>
    </div>
    <div class="osk-row">
        <div class="osk-key" alt-key="Q" keycode="81">q</div>
        <div class="osk-key" alt-key="W" keycode="87">w</div>
        <div class="osk-key" alt-key="E" keycode="69">e</div>
        <div class="osk-key" alt-key="R" keycode="82">r</div>
        <div class="osk-key" alt-key="T" keycode="84">t</div>
        <div class="osk-key" alt-key="Y" keycode="89">y</div>
        <div class="osk-key" alt-key="U" keycode="85">u</div>
        <div class="osk-key" alt-key="I" keycode="73">i</div>
        <div class="osk-key" alt-key="O" keycode="79">o</div>
        <div class="osk-key" alt-key="P" keycode="80">p</div>
        <div class="osk-key" alt-key="{" keycode="219">[</div>
        <div class="osk-key" alt-key="}" keycode="221">]</div>
        <div class="osk-key" alt-key="|" keycode="220">\</div>
    </div>
    <div class="osk-row">
        <div class="osk-key" alt-key="A" keycode="65">a</div>
        <div class="osk-key" alt-key="S" keycode="83">s</div>
        <div class="osk-key" alt-key="D" keycode="68">d</div>
        <div class="osk-key" alt-key="F" keycode="70">f</div>
        <div class="osk-key" alt-key="G" keycode="71">g</div>
        <div class="osk-key" alt-key="H" keycode="72">h</div>
        <div class="osk-key" alt-key="J" keycode="74">j</div>
        <div class="osk-key" alt-key="K" keycode="75">k</div>
        <div class="osk-key" alt-key="L" keycode="76">l</div>
        <div class="osk-key" alt-key=":" keycode="59">;</div>
        <div class="osk-key" alt-key="&quot;" keycode="222">'</div>
        <div class="osk-key wide-key-sm" keycode="13">Enter</div>
    </div>
    <div class="osk-row">
        <div id="shiftKey" class="osk-key wide-key-sm" keycode="16">Shift</div>
        <div class="osk-key" alt-key="Z" keycode="90">z</div>
        <div class="osk-key" alt-key="X" keycode="88">x</div>
        <div class="osk-key" alt-key="C" keycode="67">c</div>
        <div class="osk-key" alt-key="V" keycode="86">v</div>
        <div class="osk-key" alt-key="B" keycode="66">b</div>
        <div class="osk-key" alt-key="N" keycode="78">n</div>
        <div class="osk-key" alt-key="M" keycode="77">m</div>
        <div class="osk-key" alt-key="<" keycode="188">,</div>
        <div class="osk-key" alt-key=">" keycode="190">.</div>
        <div class="osk-key" alt-key="?" keycode="191">/</div>
    </div>
    <div class="osk-row">
        <div id="ctrlKey" class="osk-key" keycode="17">Ctrl</div>
        <div id="altKey" class="osk-key" keycode="18">Alt</div>
        <div class="osk-key wide-key-lg" keycode="32">Space</div>
        <div class="osk-key" keycode="37">Left</div>
        <div class="osk-key" keycode="38">Up</div>
        <div class="osk-key" keycode="40">Down</div>
        <div class="osk-key" keycode="39">Right</div>
        <div class="osk-key" keycode="8">Backspace</div>
    </div>
</div>
<script src="~/scripts/RemoteControl/OSK.js" type="module"></script>