body {
    color: rgb(180,180,180);
    background: rgb(20,20,20) !important;
}

nav.navbar.navbar-dark.bg-primary {
    background-color: #222222 !important;
}

hr {
    border-top: 1px solid #282828;
}

.console-prompt {
    color: royalblue;
}

.console-output {
    color: limegreen;
}

table, .table {
    color: #fff;
}

.table tbody tr td {
    font-size: .9em;
}


.logo-subtitle {
    font-size: .5em;
}



.navbar .navbar-header .navbar-brand {
    color: white;
}

button.navbar-toggler:hover {
    background-color: rgb(100,100,100);
    transition: .2s background-color ease;
}

.logo-subtitle {
    color: deepskyblue;
}

.table-hover > tbody > .record-row.row-selected {
    color: limegreen;
}

#consoleStatusDiv select {
    background-color: transparent;
}

.console-status-value {
    color: deepskyblue;
}

#qrCode img {
    border-color: white;
}
.help-wrapper {
    color: whitesmoke;
}

.extended-help {
    color: gray;
}

.console-input-prompt {
    color: deepskyblue;
}

.console-input-prompt select {
    background-color: transparent;
}

.console-block textarea {
    background-color: transparent;
    color: white;
}
.echo-input {
    color:gray;
}
.device-tag {
    color: black;
}

#commandCompletionDiv {
    color: white;
    background-color: rgb(25, 25, 25);
}
#commandInfoDiv {
    color: white;
    background-color: rgb(50, 50, 50);
}

.command-completion-item.selected {
    background-color: rgba(255,255,255,0.2);
}
.command-completion-item:hover {
    background-color: rgba(255,255,255,0.2);
}
.command-harness-title{
    color: whitesmoke;

}
.fa-check-circle {
    color: limegreen;
}

.fa-times {
    color: red;
}