#deviceControlsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-top: 3px;
}

    #deviceControlsWrapper > :last-child {
        text-align: right;
    }

#deviceListDiv{
    overflow-y: auto;
    overflow-x: hidden;
}
