.osk-wrapper {
    position: fixed;;
    top: calc(100% + 250px);
    left: 50%;
    transform:translate(-50%, -100%);
    background-color: rgb(30, 30, 30);
    padding: 5px 20px 20px 20px;
    border-radius: 30px;
    transition: .5s top;
    white-space: nowrap;
    z-index: 1;
}
.osk-wrapper.open {
    top: 100%;
}
.osk-key {
    display: inline-block;
    padding: 5px;
    min-height: 15px;
    min-width: 20px;
    margin: 2px;
    background-color: rgb(60, 60, 60);
    color: white;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    cursor: pointer;
    transition: 50ms background-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .8em;
}

.osk-key.toggled {
    background-color: rgb(120, 120, 120);
}

.osk-key.wide-key-lg {
    width: 125px;
}

.osk-key.wide-key-sm {
    width: 75px;
}

.osk-key:hover {
    background-color: rgb(20, 20, 20);
}

#closeOSKButton {
    margin-bottom:10px;
}