<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>5</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <GenerateManifests>True</GenerateManifests>
    <Install>true</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://127.0.0.1:5000/Downloads/Win-x64/Publish/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>7258BD17589C1F1D9B0BCB365F17DE613B4F7BBE</ManifestCertificateThumbprint>
    <ManifestKeyFile>Remotely_Cert.pfx</ManifestKeyFile>
    <MapFileExtensions>true</MapFileExtensions>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <PublishDir>..\Server\wwwroot\Downloads\Win-x64\Publish\</PublishDir>
    <PublishUrl>..\Server\wwwroot\Downloads\Win-x64\Publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <IncludeAllContentForSelfExtract>True</IncludeAllContentForSelfExtract>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 5.0.0 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>