<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>0</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ErrorReportUrl>https://remotely.one/Contact</ErrorReportUrl>
    <ExcludeDeploymentUrl>False</ExcludeDeploymentUrl>
    <GenerateManifests>True</GenerateManifests>
    <Install>true</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://127.0.0.1:5000/Content/Win-x64/ClickOnce/</InstallUrl>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <ProductName>Remotely Desktop</ProductName>
    <PublishDir>..\Server\wwwroot\Content\Win-x64\ClickOnce\</PublishDir>
    <PublishUrl>..\Server\wwwroot\Content\Win-x64\ClickOnce\</PublishUrl>
    <PublisherName>Translucency Software</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>Remotely</SuiteName>
    <SupportUrl>https://remotely.one/Contact</SupportUrl>
    <TargetFramework>net5.0-windows</TargetFramework>
    <TrustUrlParameters>True</TrustUrlParameters>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 5.0.1 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>