@model IndexModel

<div id="consoleFrame" class="console tab-pane fade">
    <div>
        <div id="consoleOutputDiv">
            <div class="console-block">
                <div class="console-prompt">@Model.DefaultPrompt</div>
                <div class="console-output">Authentication successful.</div>
            </div>
        </div>

        <div class="console-block">
            <div class="console-input-prompt">@Model.DefaultPrompt</div>
            <div>
                <textarea id="consoleTextArea" spellcheck="false" maxlength="100000"></textarea>
            </div>
        </div>
        <div id="commandCompletionWrapper">
            <div id="commandCompletionDiv" class="hidden">

            </div>
            <div id="commandInfoDiv" class="hidden">

            </div>
        </div>
    </div>
    <div id="consoleStatusDiv" class="row m-0">
        <div class="col-sm-6">
            <span>
                Command Mode:
            </span>
            <select id="commandModeSelect" class="console-status-value" title="Command Modes: Remotely interface, Windows PowerShell, PowerShell Core, Windows CMD Command Line, Linux BASH">
                <option value="Web">Web</option>
                <option value="PSCore">PSCore</option>
                <option value="WinPS">WinPS</option>
                <option value="CMD">CMD</option>
                <option value="Bash">Bash</option>
            </select>
        </div>
        <div class="col-sm-6">
            <span>
                Devices Selected:
            </span>
            <span id="devicesSelectedSpan" class="console-status-value">
                0
            </span>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
            <span>
                Online Devices:
            </span>
            <span id="onlineDevicesSpan" class="console-status-value">
                0
            </span>
        </div>
        <div class="col-sm-6">
            <span>
                Total Devices:
            </span>
            <span id="totalDevicesSpan" class="console-status-value">
                0
            </span>
        </div>
    </div>
</div>