<div id="dataGridFrame" class="tab-pane fade">
    <div id="deviceGridWrapper">
        <div id="gridControlsWrapper">
            <button id="startRemoteControlButton" class="btn btn-sm btn-secondary">Remote Control</button>
            <button id="toggleAllDevices" class="btn btn-sm btn-secondary">Select All</button>
            <span>Filter:</span>
            <input id="gridFilter" />
        </div>
        <table id="deviceGrid" class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>Online</th>
                    <th>Device Name</th>
                    <th>Current User</th>
                    <th>Last Online</th>
                    <th>Platform</th>
                    <th>OS Description</th>
                    <th>Free Storage</th>
                    <th>Total Storage (GB)</th>
                    <th>Free Memory</th>
                    <th>Total Memory (GB)</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>