@model IndexModel

<div id="deviceGridFrame" class="tab-pane fade active show in h-100">
    <div id="deviceGridInnerWrapper">
        <div id="gridControlsWrapper">
            <div>
                <label>Device Group:</label>
                <select id="deviceGroupSelect" asp-items="Model.DeviceGroups" class="form-control" style="width: 200px">
                    <option value="">All</option>
                    <option value="">Ungrouped</option>
                </select>
            </div>
            <div style="text-align: right">
                <button id="startRemoteControlButton" class="btn btn-sm btn-secondary">Remote Control</button>
                <button id="toggleAllDevices" class="btn btn-sm btn-secondary">Select All</button>
                <div style="display: inline-block">
                    <span>Filter:</span>
                    <input id="gridFilter" />
                </div>
            </div>
        </div>
        <div style="overflow-y: auto">
            <table id="deviceGrid" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Online</th>
                        <th>Device Name</th>
                        <th>Alias</th>
                        <th>Current User</th>
                        <th>Last Online</th>
                        <th>Public IP</th>
                        <th>Platform</th>
                        <th>OS Description</th>
                        <th>CPU</th>
                        <th>Used Storage</th>
                        <th>Total Storage (GB)</th>
                        <th>Used Memory</th>
                        <th>Total Memory (GB)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
       
    </div>
</div>