@model IndexModel

@* Spinner by SpinKit (https://github.com/tobiasahlin/SpinKit/blob/master/LICENSE) *@

<link href="~/css/loading-wheel.css" rel="stylesheet" />

<div class="loading-wheel">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>
