@page "/about"

<h3>About Remotely</h3>

<p>
    Website: <a href="https://remotely.one">https://remotely.one</a>
</p>
<p>
    Contact:  <a href="https://remotely.one/Contact">https://remotely.one/Contact</a>
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @(AppVersionHelper.GetAppVersion())
</p>
