@page
@model Remotely.Server.Pages.GetSupportModel
@{
    ViewData["Title"] = "Get Support";
}

@if (!Request.Query.ContainsKey("deviceID"))
{
    <h3 class="mb-3">Get Support</h3>
    <p>
        Device ID is missing.  Please use a valid shortcut to the support page, which will include the device ID.
    </p>
}
else
{
    <div class="col-sm-6 offset-sm-3">
        @if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Model.StatusMessage
            </div>
        }
        <h3 class="mb-3">Get Support</h3>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="col-form-label">Your Name:</label>
                <br />
                <input type="text" class="form-control" asp-for="Input.Name" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Email:</label>
                <br />
                <input type="email" class="form-control" asp-for="Input.Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Phone:</label>
                <br />
                <input type="tel" class="form-control" asp-for="Input.Phone" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Chat Response OK?</label>
                <br />
                <input type="checkbox" checked="checked" asp-for="Input.ChatResponseOk" />
                <span asp-validation-for="Input.ChatResponseOk" class="text-danger"></span>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <style>
        input[type='checkbox'] {
            width: 25px;
            height: 25px;
        }
    </style>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

}
