@page
@model IndexModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnv
@{
    ViewData["Title"] = "Home";

}

@if (!User.Identity.IsAuthenticated)
{
    <partial name="_IndexNotLoggedIn" model="Model" />
}
else
{
    <div id="motdAlert" class="alert alert-info alert-dismissible mr-5" role="alert" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <span id="motdContentSpan">@Model.Motd</span>
    </div>


    <partial name="_LoadingWheel" model="Model" />
    <partial name="_IndexLoggedIn" model="Model" />
}