@page
@model Remotely.Server.Pages.RemoteControlModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel="icon" href="~/favicon.ico" />
    <title>Remotely Remote Control</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/manifest-rc.json" rel="manifest" />
    <meta name="description" content="Remote access tools designed to get things done quickly." />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/remote-control.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/signalr/signalr.js"></script>
        <script src="~/lib/signalr/msgpack5.js"></script>
        <script src="~/lib/signalr/signalr-protocol-msgpack.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/lib/signalr/msgpack5.min.js"></script>
        <script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
    </environment>
</head>
<body>
    <div class="remotely-header" title="Remotely">
        <div class="logo-title">
            Remotely
        </div>
        <div class="logo-subtitle">Do IT Remotely</div>
    </div>

    <button id="menuButton">
        <i class="fas fa-chevron-circle-right"></i>
    </button>

    <div id="menuFrame">

        <div class="menu-options-header">
            Actions
        </div>

        <div>
            <button id="clipboardTransferButton" class="option-button">Clipboard  <i class="fas fa-clipboard"></i></button>
            <button id="inviteButton" class="option-button">Invite Others  <i class="fas fa-user-plus"></i></button>
            <button id="audioButton" class="option-button">Audio <i class="fas fa-volume-up"></i></button>
            <button id="fileTransferButton" class="option-button">File Transfer  <i class="fas fa-file-upload"></i></button>
            <button id="ctrlAltDelButton" class="option-button">Ctrl+Alt+Del <i class="fas fa-sign-in-alt"></i></button>
            <button id="keyboardButton" hidden="hidden" class="option-button">Keyboard  <i class="fas fa-keyboard"></i></button>
            <button id="disconnectButton" class="option-button">Disconnect <i class="fas fa-window-close"></i></button>
        </div>


        <div class="menu-options-header">
            View
        </div>

        <div>
            <button id="changeScreenButton" class="option-button">Monitors <i class="fas fa-desktop"></i></button>
            <button id="fitToScreenButton" class="toggled option-button">Fit <i class="fas fa-expand"></i></button>
            <button id="qualityButton" class="option-button">Quality <i class="far fa-image"></i></button>
        </div>

    </div>

    <div id="screenSelectBar" class="horizontal-button-bar">

    </div>

    <div id="qualityBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            Image Quality
        </div>
        <input id="qualityRangeInput" value="50" max="100" class="form-control-range" type="range" />
    </div>

    <div id="clipboardTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            Paste to Transfer
        </div>
        <textarea id="clipboardTransferTextArea"></textarea>
    </div>

    <div id="connectBox">
        <h3>Connect to a client:</h3>
        <div class="form-block">
            <label>Your Name (shown to client): </label>
            <br />
            <input id="nameInput" type="text" />
        </div>
        <div class="form-block">
            <label>Session ID: </label>
            <br />
            <input id="sessionIDInput" type="text" pattern="[0-9 ]+" />
        </div>
        <div class="right-aligned">
            <button id="connectButton">Connect</button>
        </div>
        <div id="statusMessage" class="status-message">

        </div>
    </div>


    <div class="center-aligned">
        <canvas id="screenViewer" hidden="hidden"></canvas>
        <input id="fileTransferInput" hidden="hidden" type="file" />
        <textarea id="touchKeyboardTextArea" value=" #"> #</textarea>
    </div>

    <footer>
        <div class="footer-wrapper">
            <p>&copy; @DateTime.Now.Year - Translucency Software</p>
            <p hidden="hidden">
                <span>File Transfer:</span>
                <progress id="fileTransferProgress"></progress>
            </p>
        </div>
    </footer>
    <script type="module" src="~/scripts/RemoteControl/Main.js">
    </script>
</body>
</html>
