@page
@model Remotely.Server.TwoFactorRequiredModel
@{
    ViewData["Title"] = "TwoFactorRequired";
}

<h3>Two-Factor Authentication Required</h3>

<hr />
<div class="row">
    <div class="col-sm-12">
        <h5>Two-factor authentication is required.  Click the button below to set up your authenticator app.</h5>
        <a asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication" class="btn btn-primary">Enable 2FA</a>
    </div>
</div>
