@{ 
    ViewData["Title"] = "Account";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h3>Manage your account</h3>

<div>
    <h5>Change your account settings</h5>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
