@model string

@if (!String.IsNullOrEmpty(Model))
{
    var isError = Model.Contains("error", StringComparison.OrdinalIgnoreCase) ||
            Model.Contains("problem", StringComparison.OrdinalIgnoreCase) ||
            Model.Contains("issue", StringComparison.OrdinalIgnoreCase);

    var statusMessageClass = isError ? "danger" : "success";

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}
