@page
@model Remotely.Server.Areas.Identity.Pages.Account.Manage.BrandingModel
@inject IDataService  DataService
@{
    ViewData["Title"] = "Agent Branding";
}

<h4>@ViewData["Title"]</h4>

@if (Model.CurrentUser?.IsAdministrator != true)
{
    <h5 class="text-muted">Only organization administrators can view this page.</h5>
}
else
{
    <div class="row">
        <div class="col-sm-8">
            <partial name="_StatusMessage" for="StatusMessage" />

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="mb-1">Branding Areas</label>
                <br />
                <img class="img-fluid" src="/images/Remotely_Desktop.png" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group mb-4">
                    <label class="font-weight-bold" asp-for="ProductName"></label>
                    <input class="form-control" asp-for="ProductName" />
                    <span asp-validation-for="ProductName" class="text-danger" />
                </div>

                @if (!string.IsNullOrWhiteSpace(Model.Base64Icon))
                {
                    <div class="form-group mb-4">
                        <label class="font-weight-bold">Saved Image</label>
                        <br />
                        <img class="img-fluid" src="data:image/png;base64,@Model.Base64Icon" />
                    </div>
                }

                <div class="form-group mb-4">
                    <label class="font-weight-bold" asp-for="Icon"></label>
                    <input type="file" accept="image/png" class="form-control" asp-for="Icon" />
                    <span asp-validation-for="Icon" class="text-danger" />
                </div>
                <div class="form-group mb-4">
                    <label class="font-weight-bold">Title Foreground</label>
                    <partial name="_ColorPicker" for="TitleForegroundPicker" />
                </div>
                <div class="form-group mb-4">
                    <label class="font-weight-bold">Title Background</label>
                    <partial name="_ColorPicker" for="TitleBackgroundPicker" />
                </div>
                <div class="form-group mb-2">
                    <label class="font-weight-bold">Button Color</label>
                    <partial name="_ColorPicker" for="TitleButtonPicker" />
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
}