@page
@model OptionsModel
@{
    ViewData["Title"] = "User Options";
}
<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <partial name="_StatusMessage" for="Message" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                <label asp-for="Options.Theme" class="control-label"></label>
                <br />
                <select asp-for="Options.Theme" asp-items="@Html.GetEnumSelectList<Remotely.Shared.Enums.Theme>()" class="form-control" ></select>
                <br />
                <span asp-validation-for="Options.Theme" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Options.ConsolePrompt" class="control-label"></label>
                <br />
                <input asp-for="Options.ConsolePrompt" class="form-control" />
                <br />
                <span asp-validation-for="Options.ConsolePrompt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <span class="text-info">Command Shortcuts</span>
                    <span data-toggle="modal" data-target="#commandModeShortcutModal" class="fas fa-question-circle pointer"></span>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Options.CommandModeShortcutWeb" class="control-label"></label>
                <br />
                <input asp-for="Options.CommandModeShortcutWeb" class="form-control" />
                <br />
                <span asp-validation-for="Options.CommandModeShortcutWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Options.CommandModeShortcutPSCore" class="control-label"></label>
                <br />
                <input asp-for="Options.CommandModeShortcutPSCore" class="form-control" />
                <br />
                <span asp-validation-for="Options.CommandModeShortcutPSCore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Options.CommandModeShortcutWinPS" class="control-label"></label>
                <br />
                <input asp-for="Options.CommandModeShortcutWinPS" class="form-control" />
                <br />
                <span asp-validation-for="Options.CommandModeShortcutWinPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Options.CommandModeShortcutCMD" class="control-label"></label>
                <br />
                <input asp-for="Options.CommandModeShortcutCMD" class="form-control" />
                <br />
                <span asp-validation-for="Options.CommandModeShortcutCMD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Options.CommandModeShortcutBash" class="control-label"></label>
                <br />
                <input asp-for="Options.CommandModeShortcutBash" class="form-control" />
                <br />
                <span asp-validation-for="Options.CommandModeShortcutBash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>


<div id="commandModeShortcutModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Command Mode Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    The command mode shortcuts are used to quickly switch between command modes in the main console.
                    If you type one of these shortcuts into the console, it will select the corresponding command
                    mode (e.g. PowerShell Core, Bash, etc.).
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>