@page "/about"

<h3>About Remotely</h3>

<p>
    Project Repo: <a href="https://github.com/immense/Remotely">https://github.com/immense/Remotely</a>
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @(AppVersionHelper.GetAppVersion())
</p>
