@page "/credits"

<h4>Credits and Open-Source Licenses</h4>

<div class="row">
    <div class="col-sm-12 text-info mb-1">
        The below open-source projects are used in Remotely.
    </div>
    <div class="col-sm-12 text-info mb-3">
        If you've contributed to any of these projects, thank you!
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <h5>Bootswatch (Bootstrap Themes)</h5>
        <ul>
            <li>License: <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">https://github.com/thomaspark/bootswatch/blob/master/LICENSE</a></li>
            <li>Project: <a href="https://github.com/thomaspark/bootswatch">https://github.com/thomaspark/bootswatch</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>NAudio</h5>
        <ul>
            <li>License: <a href="https://github.com/naudio/NAudio/blob/master/license.txt">https://github.com/naudio/NAudio/blob/master/license.txt</a></li>
            <li>Project: <a href="https://github.com/naudio/NAudio">https://github.com/naudio/NAudio</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>SharpDX</h5>
        <ul>
            <li>License: <a href="https://github.com/sharpdx/SharpDX/blob/master/LICENSE">https://github.com/sharpdx/SharpDX/blob/master/LICENSE</a></li>
            <li>Project: <a href="https://github.com/sharpdx/SharpDX">https://github.com/sharpdx/SharpDX</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>QRCoder</h5>
        <ul>
            <li>License: <a href="https://github.com/codebude/QRCoder/blob/master/LICENSE.txt">https://github.com/codebude/QRCoder/blob/master/LICENSE.txt</a></li>
            <li>Project: <a href="https://github.com/codebude/QRCoder/">https://github.com/codebude/QRCoder/</a></li>
        </ul>
    </div>
</div>
