@page "/credits"

<h4>Credits and Open-Source Licenses</h4>

<div class="row">
    <div class="col-sm-12 text-info mb-1">
        The below open-source projects are used in Remotely.
    </div>
    <div class="col-sm-12 text-info mb-3">
        If you've contributed to any of these projects, thank you!
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <h5>.NET Core</h5>
        <ul>
            <li>License: <a href="https://github.com/dotnet/core/blob/master/LICENSE.TXT">https://github.com/dotnet/core/blob/master/LICENSE.TXT</a></li>
            <li>Project: <a href="https://github.com/dotnet/core">https://github.com/dotnet/core</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>ASP.NET Core</h5>
        <ul>
            <li>License: <a href="https://github.com/aspnet/AspNetCore/blob/master/LICENSE.txt">https://github.com/aspnet/AspNetCore/blob/master/LICENSE.txt</a></li>
            <li>Project: <a href="https://github.com/aspnet/AspNetCore">https://github.com/aspnet/AspNetCore</a></li>
        </ul>
    </div>

    <div class="col-sm-6 col-md-4">
        <h5>Bootstrap</h5>
        <ul>
            <li>License: <a href="https://github.com/twbs/bootstrap/blob/v4-dev/LICENSE">https://github.com/twbs/bootstrap/blob/v4-dev/LICENSE</a></li>
            <li>Project: <a href="https://github.com/twbs/bootstrap">https://github.com/twbs/bootstrap</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>Font Awesome</h5>
        <ul>
            <li>License: <a href="https://fontawesome.com/license">https://fontawesome.com/license</a></li>
            <li>Project: <a href="https://github.com/FortAwesome/Font-Awesome">https://github.com/FortAwesome/Font-Awesome</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>jQuery</h5>
        <ul>
            <li>License: <a href="https://github.com/jquery/jquery/blob/master/LICENSE.txt">https://github.com/jquery/jquery/blob/master/LICENSE.txt</a></li>
            <li>Project: <a href="https://github.com/jquery/jquery">https://github.com/jquery/jquery</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>Entity Framework Core</h5>
        <ul>
            <li>License: <a href="https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/LICENSE.txt">https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/LICENSE.txt</a></li>
            <li>Project: <a href="https://github.com/aspnet/EntityFrameworkCore">https://github.com/aspnet/EntityFrameworkCore</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>Bootswatch (Bootstrap Themes)</h5>
        <ul>
            <li>License: <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">https://github.com/thomaspark/bootswatch/blob/master/LICENSE</a></li>
            <li>Project: <a href="https://github.com/thomaspark/bootswatch">https://github.com/thomaspark/bootswatch</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>PowerShell</h5>
        <ul>
            <li>License: <a href="https://github.com/PowerShell/PowerShell/blob/master/LICENSE.txt">https://github.com/PowerShell/PowerShell/blob/master/LICENSE.txt</a></li>
            <li>Project: <a href="https://github.com/PowerShell/PowerShell">https://github.com/PowerShell/PowerShell</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>Windows Command Reference</h5>
        <ul>
            <li>License: <a href="https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/LICENSE">https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/LICENSE</a></li>
            <li>Project: <a href="https://github.com/MicrosoftDocs/windowsserverdocs/tree/master/WindowsServerDocs/administration/windows-commands">https://github.com/MicrosoftDocs/windowsserverdocs/tree/master/WindowsServerDocs/administration/windows-commands</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>NAudio</h5>
        <ul>
            <li>License: <a href="https://github.com/naudio/NAudio/blob/master/license.txt">https://github.com/naudio/NAudio/blob/master/license.txt</a></li>
            <li>Project: <a href="https://github.com/naudio/NAudio">https://github.com/naudio/NAudio</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-4">
        <h5>SharpDX</h5>
        <ul>
            <li>License: <a href="https://github.com/sharpdx/SharpDX/blob/master/LICENSE">https://github.com/sharpdx/SharpDX/blob/master/LICENSE</a></li>
            <li>Project: <a href="https://github.com/sharpdx/SharpDX">https://github.com/sharpdx/SharpDX</a></li>
        </ul>
    </div>
</div>
