@page "/downloads"
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging 

@inject IAuthService Auth
@inject IDataService DataService
@inject UserManager<RemotelyUser> UserManager
@inject IWebHostEnvironment HostEnv
@inject NavigationManager NavManager
@inject ILogger<Downloads> Logger 

<div class="alert alert-info">
    Looking for background agents?  Head to the <a href="/deploy">Deploy</a> page!
</div>

<div class="row mb-3">
    <h4>Portable Instant Support Clients</h4>
    <p class="text-info col-sm-12 mb-2">
        Instant desktop sharing.  No account required.
    </p>
    <div class="col-sm-6 mb-3">
        <strong>Windows (64-Bit)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/WindowsDesktop-x64/@_organizationId">Windows EXE</a>
        </p>
    </div>
    <div class="col-sm-6">
        <strong>Windows (32-Bit)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/WindowsDesktop-x86/@_organizationId">Windows EXE</a>
        </p>
    </div>
    <div class="col-sm-6 mb-3">
        <strong>Linux 64-Bit</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/UbuntuDesktop/@_organizationId">Ubuntu Executable</a>
        </p>
    </div>
    @*<div class="col-sm-6 mb-3">
        <strong>macOS x64 (10.12 - 10.15)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/MacOS-x64/@_organizationId">macOS x64 Executable</a>
        </p>
        <strong>macOS arm64 (11.01)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/MacOS-arm64/@_organizationId">macOS arm64 Executable</a>
        </p>
    </div>*@
</div>



<div class="row">
    <h4>Binaries Only</h4>
    <p class="text-info col-sm-12 mb-2">
        Archives containing the agent binaries only.
    </p>
    <div class="col-sm-6 mb-3">
        <strong>Windows 10 / 11 (64-Bit and 32-Bit)</strong>
        <p>
            <a target="_blank" href="/Content/Remotely-Win-x64.zip">Windows x64 Files Only</a>
            <br />
            <a target="_blank" href="/Content/Remotely-Win-x86.zip">Windows x86 Files Only</a>
        </p>

    </div>

    <div class="col-sm-6 mb-3">
        <strong>Linux 64-Bit</strong>
        <p>
            <a target="_blank" href="/API/ClientDownloads/ManjaroInstaller-x64/@_organizationId">Manjaro x64 Bash Installer</a>
            <br />
            <a target="_blank" href="/Content/Remotely-Linux.zip">Linux x64 Files Only</a>
        </p>
    </div>

    @* There is currently no bandwidth for Mac development.  The community will need to pick it up. *@
    @*<div class="col-sm-6 mb-3">
        <strong>macOS x64 (10.12 - 10.15)</strong>
        <p>
            <a target="_blank" href="/Content/Remotely-MacOS-x64.zip">macOS x64 Files Only</a>
        </p>
    </div>

     <div class="col-sm-6 mb-3">
        <strong>macOS arm64</strong>
        <p>
            <a target="_blank" href="/Content/Remotely-MacOS-arm64.zip">macOS arm64 Files Only</a>
        </p>
    </div> *@

</div>

@code {
    private string? _organizationId;
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await Auth.IsAuthenticated();

        if (_isAuthenticated)
        {
            var userResult = await Auth.GetUser();
            if (userResult.IsSuccess)
            {
                _organizationId = userResult.Value.OrganizationID;
            }
        }
        else
        {
            var orgResult = await DataService.GetDefaultOrganization();
            if (orgResult.IsSuccess)
            {
                _organizationId = orgResult.Value.ID;
            }
        }

        await base.OnInitializedAsync();
    }
}