@inject IClientAppState AppState


@if (_theme == Theme.Dark)
{
    <div class="signal" style="border-color: whitesmoke"></div>
}
else if (_theme == Theme.Light)
{
    <div class="signal" style="border-color: #333"></div>
}

@code {
    private Theme _theme;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _theme = await AppState.GetEffectiveTheme();
    }
}